@mixin font($style:normal, $weight:700, $size, $height) {
    font-style: $style;
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}

@mixin column($width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    //для всех дочерних элементов
    >* {
        flex-basis: $width;
    }
}