.tools {
    &__wrapper {
        padding-bottom: 90px;
        background-image: url('../img/backgrounds/tools-bg.svg');
        background-position: center bottom;
        background-size: 100%;
        background-repeat: no-repeat;
    }
}
.tools__title {
    max-width: 462px;
    margin: auto;
    text-align: center;
    margin-bottom: 70px;
}
.tools__button {
    margin-top: 60px;
    text-align: center;
}
.tool {
    &-title {
        margin: 30px 0 16px;
        color: #2F281E;
        @extend %font-primary;
        @include font($weight:600, $size:2.2rem, $height:3.0rem);
    }
    &-text {
        @include font($weight:400, $size:1.6rem, $height:2.6rem);
    }
}