.ico {
    cursor: pointer;
    display: inline-block;
}

.ico_play {
    background-image: url(../img/icons/play.svg);
    width: 18px;
    height: 19px;
    // vertical-align: sub;
    margin-right: 10px;
}